<div class="app-root__header">
  <span class="btn btn-light" *ngIf="network">{{balance}}</span>
  <div ngbDropdown *ngIf="selectedAddress">
    <button ngbDropdownToggle class="btn btn-secondary">Ethereum</button>
    <div ngbDropdownMenu>
      <span ngbDropdownItem>Ethereum</span>
      <span ngbDropdownItem>Solana</span>
      <span ngbDropdownItem>Polygon</span>
      <span ngbDropdownItem>Arbitrum</span>
    </div>
  </div>
  <button class="btn btn-primary app-root__wallet-button"
    (click)="walletButtonHandler()"
    [disabled]="!web3"
    [disableTooltip]="web3 != null"
    ngbTooltip="Necesitas instalar una wallet de Ethereum.">{{walletButtonLabel}}</button>
</div>
<div class="app-root__body">
  <div class="app-root__main">
    <img #imgPreview class="img-thumbnail app-root__preview"/>
    <div class="app-root__input-container">
      <input class="form-control app-root__name-field" placeholder="Nombre"/>
      <input class="form-control app-root__url-field" placeholder="URL" (input)="inputUrlHandler($event)"/>
      <textarea class="form-control app-root__description-field" placeholder="Descripción"></textarea>
      <button class="btn btn-primary app-root__mint-button">Aceptar</button>
    </div>
  </div>
</div>
<div class="app-root__footer">

</div>