.app-root {
    &__header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 50px;
        padding: 0 5px;
        gap: 5px;
        border-bottom: 1px solid black;
    }

    &__wallet-button {
        pointer-events: auto;
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__main {
        display: flex;
        gap: 20px;
    }

    &__preview {
        width: 50vh;
        height: 50vh;
    }

    &__input-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 50vh;
        height: 50vh;
    }

    &__description-field {
        height: 100%;
        resize: none;
    }

    &__footer {
        border-top: 1px solid black;
        height: 50px;
    }
}
